.genres {
  height: 30px;
  padding: 5px 30px;
  display: flex;
  align-items: center;

  font-family: "Times New Roman", Times, serif;
  font-weight: 780;
}
.genres .genres-items {
  list-style: none;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.genres .genres-items li {
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in;
}
.genres .genres-items :hover {
  transform: scale(1.2);
  color: rgb(157, 134, 2);
}
